* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #333;
}

li {
    list-style: none;
}

img {
    width: 100%;
    vertical-align: bottom;
}

a {
    text-decoration: none;
}

.container {
    margin: 0 auto 150px;
    padding: 0 16px;
    max-width: 1000px;
    text-align: center;
}

.wrapper {
    max-width: 800px;
    margin: 0 auto;
}


.sec-title {
    position: relative;
    display: inline-block;
    margin-bottom: 60px;
}

.sec-title::before {
    content: "";
    position: absolute;
    top: 0;
    left: -30px;
    width: 24px;
    height: 24px;
    border-left: 20px solid #F3E100;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
}

.sec-title::after {
    content: "";
    position: absolute;
    top: 0;
    right: -30px;
    width: 24px;
    height: 24px;
    border-right: 20px solid #F3E100;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
}

.material-symbols-outlined {
    display: inline-flex;
    vertical-align: middle;
    font-size: 18px;
}

/* -----------------------------------

----------------------------------- */

/* header */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 65px;
    background-color: #0062AC;
    z-index: 10;

    .header-inner {
        max-width: 1000px;
        height: 65px;
        margin: 0 auto;
        padding: 0 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        h1 {
            font-size: 20px;
        }

        nav {
            ul {
                display: flex;

                li {
                    padding: 0 10px;
                    font-size: 12px;
                }

            }
        }
    }

    a {
        color: #fff;
    }
}

/* mainvisual */
#mainvisual {
    background-image: url(../img/mainvisual.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;
    margin-bottom: 150px;
    padding: 65px 16px 0;
    
    .container {
        position: relative;
        text-align: left;
        height: 100vh;
        
        .main-text {
            position: absolute;
            top: 30%;
            left: 10%;
        }
        
        .main-tr {
            display: block;
            width: 32px;
            height: 32px;
            background-color: #0062AC;
            position: absolute;
            top: 80px;
            right: 0;
        }
    
        .main-tr::before {
            content: "";
            width: 400px;
            height: 1px;
            background-color: #0062AC;
            position: absolute;
            top: 16px;
            right: 0;
        }

        

        h2 {
            font-size: 36px;
        }
    }
}

/* キャディってどんなお仕事？ */

#about-caddy {
    .wrapper {
        display: flex;
        justify-content: space-between;
        // align-items: center;
        width: 600px;

        .about-caddy-img {
            width: 40%;

            img {
                height: 350px;
                object-fit: cover;
            }

            .fukidashi {
                position: relative;
                display: grid;
                place-items: center;
                width: 250px;
                height: 120px;
                border: 2px solid #333;
                border-radius: 50%;
                z-index: 5;
                bottom: 30px;
                left: -80px;
                background-color: #fff;

                span {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    transform: translate(5px, 5px);
                    border-radius: 50%;
                    background-color: #F3E100;
                    pointer-events: none;
                    mix-blend-mode: multiply;
                }

                p {
                    z-index: 7;
                }
            }

            // .fukidashi::before {
            //     content: "";
            //     position: absolute;
            //     top: 0;
            //     right: 60px;
            //     width: 15px;
            //     height: 15px;
            //     transform: rotate(50deg);
            //     box-sizing: border-box;
            //     background-color: #F3E100;
            // }

            // .fukidashi::after {
            //     content: "";
            //     position: absolute;
            //     top: 0;
            //     right: 55px;
            //     width: 20px;
            //     height: 2px;
            //     transform: rotate(135deg);
            //     box-sizing: border-box;
            //     background-color: #333;
            // }
        }

        .about-caddy-text {
            width: 50%;
            text-align: left;
            font-size: 14px;
            padding-top: 30px;
            position: relative;
        }

        .about-caddy-text::before {
            content: "";
            position: absolute;
            width: 150px;
            height: 1px;
            background-color: #F3E100;
            top: -20px;
            right: -40px;
        }
        
        .about-caddy-text::after {
            content: "";
            position: absolute;
            width: 1px;
            height: 200px;
            background-color: #F3E100;
            top: -60px;
            right: -20px;
        }


    }
}

/* キャディのお仕事 */

#flow {
    .flows {
        width: 700px;
        margin: 0 auto;

    }

    .flow-item {
        // border: 1px solid #F3E100;
        position: relative;
        width: 100%;
        height: 400px;
        // margin-top: -100px;

        .num {
            font-weight: bold;
            font-size: 48px;
            position: absolute;
            top: 0;
            text-shadow: 0 5px 5px #333;
            color: #F3E100;
            z-index: 8;
        }

        img {
            width: 150px;
            height: 150px;
            object-fit: cover;
            border-radius: 50%;
            position: absolute;
            top: 20px;
            z-index: 5;
        }

        .flow-text {
            background-color: #f3e30056;
            width: 350px;
            height: 350px;
            border-radius: 50%;
            // padding: 50px 20px 0;
            padding-top: 80px;
            position: absolute;
            top: 30px;
            // text-align: right;

            h4 {
                font-size: 18px;
                margin-bottom: 24px;
                // display: inline-block;
            }

            p {
                font-size: 14px;
                width: 80%;
                text-align: center;
                margin: 0 auto;
            }
        }
    }

    .left {
        margin-top: -100px;

        .num {
            left: 10px;
        }

        img {
            left: 0;
        }

        .flow-text {
            left: 40px;
            padding-left: 20px;

            h4 {
                padding-left: 70px;
            }
        }
    }

    .left:first-of-type {
        margin: 0;
    }
    
    .right {
        margin-top: -100px;
        .num {
            right: 10px;
        }

        img {
            right: 0;
        }

        .flow-text {
            right: 40px;
            // text-align: left;

            h4 {
                padding-right: 70px;
            }
        }
    }

    .show-more {
        display: inline-block;
        color: #333;
        background-color: #F3E100;
        padding: 10px 40px;
        border-radius: 20px;
        margin-top: 50px;
    }

    .modal-items {
        opacity: 0;
        visibility: hidden;
        transition: all 0.5s;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 25;
        // background-color: #fff;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 80%;
    
        .modal-item {
            background-color: #F3E100;
            width: 200px;
            height: 200px;
            border-radius: 50%;
            padding: 0 10px;
            margin: 0 5px;
    
            h4 {
                margin: 25px 0 10px;
            }
    
            p {
                font-size: 14px;
            }
        }
    }

    .modal-open {
        .modal-items {
            opacity: 1;
            visibility: visible;
        }

        .modal-mask {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba($color: #000000, $alpha: 0.3);
            z-index: 20;
        }
    }
}

/* footer */
footer {
    background-color: #0062AC;
    color: #fff;
    width: 100%;
    height: 150px;

    .container {
        margin-bottom: 0;
    }

    p {
        text-align: center;
    }
}


#how-to {
    .how-to-text {
        width: 80%;
        text-align: left;
        margin: 0 auto;

        li {
            position: relative;
            background-color: #fffccc;
            border-radius: 21px;
            margin-bottom: 20px;
            padding-left: 50px;
            line-height: 42px;

            span {
                position: absolute;
                top: 0;
                left: 0;
                display: inline-block;
                text-align: center;
                line-height: 42px;
                font-size: 20px;
                font-weight: bolder;
                background-color: #F3E100;
                width: 42px;
                height: 42px;
                border-radius: 50%;
            }
        }

    }
}


#voice {
    .voice {
        display: flex;
        align-items: center;
        margin-bottom: 50px;

        img {
            width: 100px;
            height: 100px;
            object-fit: cover;
            object-position: top;
            border-radius: 50%;
        }

        .fukidashi {
            width: 60%;
            text-align: left;
            background-color: #fffccc;
            padding: 20px;
            border-radius: 50px;
            margin: 0 20px;
            position: relative;
        }

        .fukidashi::after {
            content: "";
            position: absolute;
            top: 40%;
            border: 20px solid transparent;
            border-right: 20px solid #fffccc;
        }
    }

    .v-left {
        .fukidashi::after {
            left: -40px;
        }
    }
    
    .v-right {
        flex-direction: row-reverse;
        
        .fukidashi::after {
            right: -40px;
            border: 20px solid transparent;
            border-left: 20px solid #fffccc;
        }
    }
}

#job-description {
    background-color: #e1f2ff;
    padding: 80px 0;

    .container {
        margin-bottom: 0;
    }

    .sec-title::before {
        border-left: 20px solid #0062AC;
    }
    
    .sec-title::after {
        border-right: 20px solid #0062AC;
    }

    .job-info {
        display: flex;
        flex-wrap: wrap;
        text-align: left;
        width: 60%;
        margin: 0 auto;

        dt {
            width: 20%;
            border-bottom: 2px dotted #0062AC;
            padding: 20px 0 5px;
        }
        
        dd {
            width: 80%;
            border-bottom: 2px dotted #0062AC;
            padding-top: 20px;
        }
    }
}



#qanda {
    background-color: #e1f2ff;
    padding: 80px 0;
    
    .container {
        margin-bottom: 0;
    }

    .sec-title::before {
        border-left: 20px solid #0062AC;
    }

    .sec-title::after {
        border-right: 20px solid #0062AC;
    }
}

/*  */